html {
	font-family: Helvetica, 'sans-serif';
	font-size: 22px;
	color: seashell;
	background-color: black;
	text-align: center;
}

header {
	position: fixed;
	border-bottom: 1px solid seashell;
	width: 100%;
	height: 69px;
	background-color: black;
	top: 0px;
	left: 0px;
}

header .logo {
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	height: 50px;
	vertical-align: center;
	
}

nav {
	float: right;
	height: 100%;
	margin: 0 auto;
	}	
	
nav ul {
	height: 10%;
	display: table;
	float: left;
	font-family: serif;
		
}
	
nav li {
	display: table-cell;
	vertical-align: middle; 
	text-decoration: underline;
	color: white;
	height: 100%;
	padding: 0px 20px;
	}	
	
a {
	color: white;
}
	

	
.mission-container {
	background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1svafpj*_ga*MTM1MDU2MTk1Ny4xNjQ4ODAyMTY0*_ga_3LRZM6TM9L*MTY1NDUyMzY1NC41Ni4xLjE2NTQ1MjM2NzAuNDQ.);
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
	max-width: 2200px;	
	margin: 40px auto 40px auto;	
	display: flex;
	width: 100%;
}

.text-over {
	background-color: black;
	margin: auto;
	width: 100%;
}

.trend-container {
	display: inline-flex;
	max-width: 1000px;
	height: auto;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.trend img{
	max-height: 200px;
	max-width: 300px;
	padding: 10px;	
}

.location-container {
	background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*19c6y4q*_ga*MTM1MDU2MTk1Ny4xNjQ4ODAyMTY0*_ga_3LRZM6TM9L*MTY1NDU4ODk2NS41OC4xLjE2NTQ1OTAzNjkuNTc.);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	max-width: 1200px;
	margin: auto;
	padding-top: 80px;
		}

.text-top {
	font-weight: bold;
}

.location-info-container {
	margin: 15px auto auto auto;
	display: flex;	
	justify-content: space-between;
	max-width: 1050px;
}

.location-info{
	background-color: black;
	width: 300px;
	opacity: 0.9;
	box-sizing; border-box;
}

.contact {
	height: 200px;
}

footer {
	text-align: left;
	padding-left: 20px;
}

	